.image8 {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.image8:hover {
    -webkit-filter: brightness(0.25);
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 120px;
    height: auto;
    cursor: pointer;
}

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}