.image8 {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.image8:hover {
    -webkit-filter: brightness(0.25);
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 120px;
    height: auto;
    cursor: pointer;
}