.image8 {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.image8:hover {
    -webkit-filter: brightness(0.25);
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 120px;
    height: auto;
    cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}